
h1.logo {
    font-family: 'Cantarell', sans-serif;
    font-size: 7em;
}

#container {
    margin: 0 auto;
    width: 600px;
}

#header {
    padding: 20px;
}

#header h1 {
    margin: 0;
}

#content {
    clear: left;
    padding: 20px;
}


#footer {
    padding: 20px;
    height: 1%;
}
