
body {
    background-color: #F0F0F0;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 600px;
}

#header {
    padding: 20px;
}

#header h1 {
    margin: 0;
}

#content {
    clear: left;
    padding: 20px;
}


#footer {
    padding: 20px;
    height: 1%;
}